
<div align="center" id="wrapper" >
      <h1>Favorite Recipes</h1> 
        {{#each hbsObject}}
        <div class="row col-sm-6 col-md-4" ></div>
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img class="img-rounded thumbnail" src={{this.image}} alt='{{this.image}}' height='142' width='142'>
              <div class="caption">
                
                <a href="{{this.link}}"><h3>{{this.title}}</h3></a>
                <p data-id={{this.id}}>{{this.link}}</p>
                <p><a class="btn btn-primary" role="button" data-id={{this.id}} id='btnDeleteFavorite'>Remove Favorite</a> <a class="btn btn-default" role="button"data-id={{this.id}} id='btnAddNote'>Notes</a></p>
              </div>
            </div>
          </div>
        </div>
        
  {{/each}}
    <div class="row">
          <div class="col-sm-6 col-md-4"></div>
      </div>
      {{> articles/article-block}}
  
      
  </div>
  
    