
<div align="center" id="wrapper" >
      <h1>{{title}}</h1> 
        
        <div class="row col-sm-6 col-md-4" ></div>
        <div class="row">
          <div class="col-sm-6 col-md-4">
                <p>{{message}}</p>
                <p><a href="/scrape" class="btn btn-primary" role="button" id='btnGetArticle'>Gather Intel</a> </p>
              </div>
            </div>
        {{#each hbsObject}}
        <div class="row col-sm-6 col-md-4" ></div>
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img class="img-rounded thumbnail" src={{this.image}} alt='{{this.image}}' height='142' width='142'>
              <div class="caption">
                <a href="{{this.link}}"><h3>{{this.title}}</h3></a>
                <p>{{this.link}}</p>
                <p><a class="btn btn-primary" data-link='{{this.link}}' data-title='{{this.title}}' data-image='{{this.image}}' role="button" id='btnAddFavorite'>Add to Favorites</a> </p>
              </div>
            </div>
          </div>
        </div>
  {{/each}}
          

    <div class="row">
          <div class="col-sm-6 col-md-4"></div>
      </div>

  
      
  </div>
  
    